h1 Du är våran #{session[:id]} användare
h1 du är en  #{session[:title]}!
h1 Hej #{session[:username]}!

h2 
    a href="/mina_pass" dina skapade pass

h2  
    a href="/alla_pass" alla våra användares skapade pass
